@media screen and (max-width: 76em){
    .wrapper {
        width: 80em;
    }

    html {
        font-size: 55%;
    }
}


@media screen and (max-width: 50em) {
    html {
        font-size: 50%;
    }

    .container form {
        width: 30rem;
    }

    .header h2 {
        text-align: center;
    }

    .wrapper {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: start;
        padding: 10px 120px;
    }

    .plus-icon {
        right: 50px;
    }
}