@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content:space-around;
    align-items: flex-start ;
    flex-wrap: nowrap;
    margin-top: 5%;


    padding: 2.4rem;
    transition: all 0.5s ease-in-out;
}

.container {
    font-size: 2.8rem;
    background-color: #FEFEFE;
    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);

    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 2.4rem;
    border-radius: 11px;
    transition: all 0.5s ease-in;


    

    /* display: none; */
    justify-self: flex-end;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 3.6rem;

    width: 400px;
    
}

.user-input {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
    font-family: inherit;
}

.user-input > input:placeholder-shown{
    font-family: inherit;
    font-size: 1.8rem;
}

.user-input > input,
.user-input > select {
    padding: 1.2rem;
    border: none;
    font-size: 2.2rem;
    
    background-color: #f1f3f5;
}

.user-input > input:hover,
.user-input > select:hover {
    border: 1px solid;
}


/* Add button styling */
.add-button {
  align-self: center;

 
}

.add-button > button {
    font-size: 2.2rem;
    font-family: inherit;
    padding: 5px 40px;

    border: none;
    border-radius: 9px;
    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);

    cursor: pointer;
    
}


.add-button:hover {
    transform: scale(1.2);
}


/* Card */
.card {
    display: none;
    flex-direction: column;


    font-size: 1.8rem;
    padding:1rem;
    border-radius: 9px;
    
    background-color: #F4EFEE;
    color: #191C1F;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);   
    transition: all 0.8s;

}


.card:hover {
    transform: scale(1.1);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
    align-items: start;
    gap: 15px;

    border: 1px solid;
    overflow: hidden;
    max-width: 110rem;
    padding: 2.4rem;
    border-radius: 9px;

    flex: 1;
    height: 780px;



    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);
}

.card > .single-item > span:first-child {
    

    /* Border */
    border: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}


.single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.card .single_item_title {
    font-size: 2.6rem;
}

.cancel-icon {
    align-self: flex-end;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}