@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    position: relative;
}

.container {
    font-size: 2.8rem;
    background-color: #FEFEFE;
    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);

    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 2.4rem;
    border-radius: 11px;


    display: none;


}

.form {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 3.6rem;

    width: 400px;
    
}

.user-input {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
    font-family: inherit;
}

.user-input > input:placeholder-shown{
    font-family: inherit;
    font-size: 1.8rem;
}

.user-input > input,
.user-input > select {
    padding: 1.2rem;
    border: none;
    
    background-color: #f1f3f5;
}

.user-input > input:hover,
.user-input > select:hover {
    border: 1px solid;
}


/* Add button styling */
.add-button {
  align-self: center;

 
}

.add-button > button {
    font-size: 2.2rem;
    font-family: inherit;
    padding: 5px 40px;

    border: none;
    border-radius: 9px;
    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);

    cursor: pointer;
    
}


.add-button:hover {
    transform: scale(1.2);
}


/* Card */
.card {
    display: flex;
    flex-direction: column;


    width: 300px;
    height: auto;

    font-size: 2.8rem;
    padding:1.2rem;
    border-radius: 9px;

    
    background-color: #e9ecef;
    color: #191C1F;


}

.card > span {
    display: inline-block;
    text-align: center;

    /* Border */
    border: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}