@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content:center;
    justify-items: center;
    /* flex-wrap: nowrap; */
    /* margin-top: 5%; */


}

.header {
    width: 100%;
    padding: 2.4rem;
    margin-bottom: 2.4rem;
    font-size: 2.2rem;
    text-transform: uppercase;
    background: hsla(186, 33%, 94%, 1);

    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
    position: relative;
}


    .container {

    font-size: 2.8rem;
    background-color: #FEFEFE;
    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);

    display: none;
    flex-direction: column;
    gap: 1.8rem;
    padding: 2.4rem;
    border-radius: 11px;




    

    /* display: none; */
    justify-self: center;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 3.6rem;

    width: 400px;
    
}

.user-input {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
    font-family: inherit;
}

.user-input > input:placeholder-shown{
    font-family: inherit;
    font-size: 1.8rem;
}

.user-input > input,
.user-input > select {
    padding: 1.2rem;
    border: none;
    font-size: 2.2rem;
    
    background-color: #f1f3f5;
}

.user-input > input:hover,
.user-input > select:hover {
    border: 1px solid;
}


/* Add button styling */
.add-button {
  align-self: center;

 
}

.add-button > button {
    font-size: 2.2rem;
    font-family: inherit;
    padding: 5px 40px;

    border: none;
    border-radius: 9px;
    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);

    cursor: pointer;
    
}


.add-button:hover {
    transform: scale(1.2);
}


/* Card */
.card {
    display: none;
    flex-direction: column;


    font-size: 1.8rem;
    padding:1rem;
    border-radius: 9px;
    
    background-color: #F4EFEE;
    color: #191C1F;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);   
    transition: all 0.8s ease;

}


.card:hover {
    transform: scale(1.1);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
    align-items: start;
    resize:both;
    gap: 15px;

    overflow: hidden;
    max-width: 110rem;
    padding: 2.4rem;
    margin-left: 1.2rem;
    border-radius: 9px;

    height: 780px;
    justify-self: start;

    transition: all 0.6s ease;
    -webkit-box-shadow: -2px 5px 25px 4px rgba(125,195,255,0.94); 
    box-shadow: -2px 5px 25px 4px rgba(43, 46, 48, 0.94);
}

.card > .single-item > span:first-child {
    

    /* Border */
    border: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}


.single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.single-item span {
    text-align: center;
}

.card .single_item_title {
    font-size: 2.6rem;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}

.edit-icon {
    align-self: flex-start;
}

.cancel-icon {
    align-self: flex-end;
    
}

/* Plus Icon */

.plus-icon {
    border: none;
    
    width: 40px;
    height: 40px;

    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer;
}


.plus-icon:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


/* Rounded toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #0c3c64;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #163249;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)}

    .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }